<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AnimatedReelSymbol_A_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{186,154}}</string>
                <key>sourceSize</key>
                <string>{232,184}</string>
            </dict>
            <key>AnimatedReelSymbol_A_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{204,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{204,184}}</string>
                <key>sourceSize</key>
                <string>{232,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimatedReelSymbol_A.png</string>
            <key>size</key>
            <string>{396,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d6cce7748f299848ae973a0ac6ebae:3ed61f11a8324a65d34fe71e00364428:4d3f4e856c0c474cd8e02808f0b4d34c$</string>
            <key>textureFileName</key>
            <string>AnimatedReelSymbol_A.png</string>
        </dict>
    </dict>
</plist>
