<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Pickoneflip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,750},{177,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,567},{183,185}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,306},{102,184}}</string>
				<key>offset</key>
				<string>{11,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,567},{20,186}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,0},{89,184}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,0},{85,183}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,186},{32,191}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,612},{47,196}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,753},{167,186}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{204,193}}</string>
				<key>offset</key>
				<string>{17,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,189},{61,213}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,0},{192,208}}</string>
				<key>offset</key>
				<string>{-29,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{271,189}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,382},{197,198}}</string>
				<key>offset</key>
				<string>{17,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,583},{155,198}}</string>
				<key>offset</key>
				<string>{-11,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,377},{162,189}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,192},{87,204}}</string>
				<key>offset</key>
				<string>{8,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,402},{52,210}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,579},{190,193}}</string>
				<key>offset</key>
				<string>{-13,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,186},{212,188}}</string>
				<key>offset</key>
				<string>{7,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,977},{92,207}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,769},{156,208}}</string>
				<key>offset</key>
				<string>{-22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,0},{258,186}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,374},{193,196}}</string>
				<key>offset</key>
				<string>{17,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,374},{20,209}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,192},{114,201}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,490},{91,199}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,927},{107,201}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,186},{1,1}}</string>
				<key>offset</key>
				<string>{135,-106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
			<key>Pickoneflip_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,186},{1,1}}</string>
				<key>offset</key>
				<string>{135,-106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,213}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pickoneflip.png</string>
			<key>realTextureFileName</key>
			<string>PickoneFlip.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>