<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Queen0.png</key>
            <dict>
                <key>height</key>
                <integer>162</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>154</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Queen1.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>176</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Queen.png</string>
            <key>size</key>
            <string>{336,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:405b3510e7c7f6714eddfa11e80ff630:d8240db75de0ea7d2d81dbf23271d019:b3ed52b0284a250441076ea420571e3e$</string>
            <key>textureFileName</key>
            <string>Queen.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>188</integer>
            <key>width</key>
            <integer>336</integer>
        </dict>
    </dict>
</plist>
