<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpinAgain01.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>28</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>340</integer>
                <key>x</key>
                <integer>2276</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain02.png</key>
            <dict>
                <key>height</key>
                <integer>261</integer>
                <key>offsetX</key>
                <real>-21</real>
                <key>offsetY</key>
                <real>45</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>348</integer>
                <key>x</key>
                <integer>2182</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain03.png</key>
            <dict>
                <key>height</key>
                <integer>353</integer>
                <key>offsetX</key>
                <real>-25</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>268</integer>
                <key>x</key>
                <integer>2000</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain04.png</key>
            <dict>
                <key>height</key>
                <integer>363</integer>
                <key>offsetX</key>
                <real>-6</real>
                <key>offsetY</key>
                <real>54</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>270</integer>
                <key>x</key>
                <integer>2534</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain05.png</key>
            <dict>
                <key>height</key>
                <integer>261</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>54</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>330</integer>
                <key>x</key>
                <integer>1850</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain06.png</key>
            <dict>
                <key>height</key>
                <integer>281</integer>
                <key>offsetX</key>
                <real>14</real>
                <key>offsetY</key>
                <real>37</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>382</integer>
                <key>x</key>
                <integer>2260</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain07.png</key>
            <dict>
                <key>height</key>
                <integer>319</integer>
                <key>offsetX</key>
                <real>20</real>
                <key>offsetY</key>
                <real>21</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>266</integer>
                <key>x</key>
                <integer>756</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain08.png</key>
            <dict>
                <key>height</key>
                <integer>379</integer>
                <key>offsetX</key>
                <real>12</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>274</integer>
                <key>x</key>
                <integer>2806</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain09.png</key>
            <dict>
                <key>height</key>
                <integer>285</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>292</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain010.png</key>
            <dict>
                <key>height</key>
                <integer>269</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>372</integer>
                <key>x</key>
                <integer>296</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain011.png</key>
            <dict>
                <key>height</key>
                <integer>269</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>304</integer>
                <key>x</key>
                <integer>670</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain012.png</key>
            <dict>
                <key>height</key>
                <integer>361</integer>
                <key>offsetX</key>
                <real>-16</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>262</integer>
                <key>x</key>
                <integer>2270</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain013.png</key>
            <dict>
                <key>height</key>
                <integer>319</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>7</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>242</integer>
                <key>x</key>
                <integer>512</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain014.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>346</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain015.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>11</real>
                <key>offsetY</key>
                <real>-18</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>332</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain016.png</key>
            <dict>
                <key>height</key>
                <integer>327</integer>
                <key>offsetX</key>
                <real>17</real>
                <key>offsetY</key>
                <real>-28</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>1260</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain017.png</key>
            <dict>
                <key>height</key>
                <integer>339</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-37</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>1506</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain018.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>-46</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>SpinAgain019.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-42</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>342</integer>
                <key>x</key>
                <integer>756</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain020.png</key>
            <dict>
                <key>height</key>
                <integer>285</integer>
                <key>offsetX</key>
                <real>-12</real>
                <key>offsetY</key>
                <real>-42</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>238</integer>
                <key>x</key>
                <integer>2864</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain021.png</key>
            <dict>
                <key>height</key>
                <integer>341</integer>
                <key>offsetX</key>
                <real>-6</real>
                <key>offsetY</key>
                <real>-42</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>1754</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain022.png</key>
            <dict>
                <key>height</key>
                <integer>259</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-43</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>260</integer>
                <key>x</key>
                <integer>1588</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain023.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-51</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>312</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>SpinAgain024.png</key>
            <dict>
                <key>height</key>
                <integer>237</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>-62</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>276</integer>
                <key>x</key>
                <integer>2054</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>SpinAgain025.png</key>
            <dict>
                <key>height</key>
                <integer>325</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-70</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>234</integer>
                <key>x</key>
                <integer>1024</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain026.png</key>
            <dict>
                <key>height</key>
                <integer>291</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>-78</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>214</integer>
                <key>x</key>
                <integer>296</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>SpinAgain027.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-84</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>258</integer>
                <key>x</key>
                <integer>1118</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>SpinAgain028.png</key>
            <dict>
                <key>height</key>
                <integer>219</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-90</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>SpinAgain029.png</key>
            <dict>
                <key>height</key>
                <integer>221</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-93</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>270</integer>
                <key>x</key>
                <integer>302</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>SpinAgain030.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-96</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>236</integer>
                <key>x</key>
                <integer>700</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain031.png</key>
            <dict>
                <key>height</key>
                <integer>283</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-94</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>218</integer>
                <key>x</key>
                <integer>2644</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain032.png</key>
            <dict>
                <key>height</key>
                <integer>281</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-94</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>232</integer>
                <key>x</key>
                <integer>2026</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain033.png</key>
            <dict>
                <key>height</key>
                <integer>277</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-95</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>1524</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain034.png</key>
            <dict>
                <key>height</key>
                <integer>277</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-94</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>254</integer>
                <key>x</key>
                <integer>1770</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain035.png</key>
            <dict>
                <key>height</key>
                <integer>273</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-94</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>266</integer>
                <key>x</key>
                <integer>1256</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain036.png</key>
            <dict>
                <key>height</key>
                <integer>273</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-94</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>278</integer>
                <key>x</key>
                <integer>976</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain037.png</key>
            <dict>
                <key>height</key>
                <integer>267</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-93</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>292</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1237</integer>
            </dict>
            <key>SpinAgain038.png</key>
            <dict>
                <key>height</key>
                <integer>265</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-93</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>306</integer>
                <key>x</key>
                <integer>2532</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain039.png</key>
            <dict>
                <key>height</key>
                <integer>257</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>1272</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain040.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>-90</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>332</integer>
                <key>x</key>
                <integer>938</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain041.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>348</integer>
                <key>x</key>
                <integer>350</integer>
                <key>y</key>
                <integer>970</integer>
            </dict>
            <key>SpinAgain042.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>362</integer>
                <key>x</key>
                <integer>2618</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain043.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>376</integer>
                <key>x</key>
                <integer>1898</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain044.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-90</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>390</integer>
                <key>x</key>
                <integer>1100</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain045.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-90</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>404</integer>
                <key>x</key>
                <integer>1492</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain046.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-90</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>418</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>SpinAgain047.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>-90</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>430</integer>
                <key>x</key>
                <integer>2280</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>SpinAgain048.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>444</integer>
                <key>x</key>
                <integer>1834</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>SpinAgain049.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>454</integer>
                <key>x</key>
                <integer>1378</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>SpinAgain050.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>468</integer>
                <key>x</key>
                <integer>648</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>SpinAgain051.png</key>
            <dict>
                <key>height</key>
                <integer>237</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>480</integer>
                <key>x</key>
                <integer>2332</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>SpinAgain052.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>492</integer>
                <key>x</key>
                <integer>1054</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>SpinAgain053.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>504</integer>
                <key>x</key>
                <integer>1548</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>SpinAgain054.png</key>
            <dict>
                <key>height</key>
                <integer>233</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>518</integer>
                <key>x</key>
                <integer>534</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>SpinAgain055.png</key>
            <dict>
                <key>height</key>
                <integer>231</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>530</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>SpinAgain056.png</key>
            <dict>
                <key>height</key>
                <integer>229</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-87</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>542</integer>
                <key>x</key>
                <integer>2286</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>SpinAgain057.png</key>
            <dict>
                <key>height</key>
                <integer>227</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>556</integer>
                <key>x</key>
                <integer>1728</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>SpinAgain058.png</key>
            <dict>
                <key>height</key>
                <integer>225</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>568</integer>
                <key>x</key>
                <integer>1158</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>SpinAgain059.png</key>
            <dict>
                <key>height</key>
                <integer>223</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>471</integer>
                <key>originalWidth</key>
                <integer>582</integer>
                <key>width</key>
                <integer>582</integer>
                <key>x</key>
                <integer>574</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>SpinAgain0.png</string>
            <key>size</key>
            <string>{3104,1905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e83a5d29aad328bbe06ca8414b4c48fe:d4c73fce84637ead6faecf812962f41f:3b19ebf88558e79024e54ee24bbe852b$</string>
            <key>textureFileName</key>
            <string>SpinAgain0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1905</integer>
            <key>width</key>
            <integer>3104</integer>
        </dict>
    </dict>
</plist>
