<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Multiplier0.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>232</integer>
            </dict>
            <key>Multiplier1.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>232</integer>
                <key>y</key>
                <integer>464</integer>
            </dict>
            <key>Multiplier2.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>692</integer>
                <key>y</key>
                <integer>464</integer>
            </dict>
            <key>Multiplier3.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>462</integer>
                <key>y</key>
                <integer>696</integer>
            </dict>
            <key>Multiplier4.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>686</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Multiplier5.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>230</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Multiplier6.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>696</integer>
            </dict>
            <key>Multiplier7.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>464</integer>
            </dict>
            <key>Multiplier8.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>462</integer>
                <key>y</key>
                <integer>464</integer>
            </dict>
            <key>Multiplier9.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>458</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Multiplier10.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Multiplier11.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>230</integer>
                <key>y</key>
                <integer>232</integer>
            </dict>
            <key>Multiplier12.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>232</integer>
            </dict>
            <key>Multiplier13.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>690</integer>
                <key>y</key>
                <integer>232</integer>
            </dict>
            <key>Multiplier14.png</key>
            <dict>
                <key>height</key>
                <integer>228</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>232</integer>
                <key>y</key>
                <integer>696</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Multiplier.png</string>
            <key>size</key>
            <string>{928,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c9056288de2ba7bc1140ee242ce3b5c:8b53dde4309d86e91eab87a97ce737b2:fc41ce4ef8da068a9e22dd6782e65d36$</string>
            <key>textureFileName</key>
            <string>Multiplier.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>928</integer>
            <key>width</key>
            <integer>928</integer>
        </dict>
    </dict>
</plist>
