<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PYPTotalBonusWon00.png</key>
            <dict>
                <key>height</key>
                <integer>137</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>257</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon01.png</key>
            <dict>
                <key>height</key>
                <integer>279</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>17</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>1564</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon02.png</key>
            <dict>
                <key>height</key>
                <integer>259</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>758</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon03.png</key>
            <dict>
                <key>height</key>
                <integer>317</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>383</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon04.png</key>
            <dict>
                <key>height</key>
                <integer>341</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>30</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>686</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon05.png</key>
            <dict>
                <key>height</key>
                <integer>311</integer>
                <key>offsetX</key>
                <real>10</real>
                <key>offsetY</key>
                <real>29</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>379</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon06.png</key>
            <dict>
                <key>height</key>
                <integer>409</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>20</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>253</integer>
                <key>x</key>
                <integer>1013</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon07.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>19</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>429</integer>
                <key>x</key>
                <integer>2304</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon08.png</key>
            <dict>
                <key>height</key>
                <integer>417</integer>
                <key>offsetX</key>
                <real>-14</real>
                <key>offsetY</key>
                <real>12</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>415</integer>
                <key>x</key>
                <integer>1867</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon09.png</key>
            <dict>
                <key>height</key>
                <integer>467</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>31</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>281</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon010.png</key>
            <dict>
                <key>height</key>
                <integer>431</integer>
                <key>offsetX</key>
                <real>-15</real>
                <key>offsetY</key>
                <real>43</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>457</integer>
                <key>x</key>
                <integer>2284</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon011.png</key>
            <dict>
                <key>height</key>
                <integer>311</integer>
                <key>offsetX</key>
                <real>-6</real>
                <key>offsetY</key>
                <real>35</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>491</integer>
                <key>x</key>
                <integer>3304</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon012.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>31</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>495</integer>
                <key>x</key>
                <integer>261</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon013.png</key>
            <dict>
                <key>height</key>
                <integer>273</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>33</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>501</integer>
                <key>x</key>
                <integer>1061</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon014.png</key>
            <dict>
                <key>height</key>
                <integer>291</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>37</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>525</integer>
                <key>x</key>
                <integer>1777</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon015.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>39</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>567</integer>
                <key>x</key>
                <integer>2735</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon016.png</key>
            <dict>
                <key>height</key>
                <integer>409</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>597</integer>
                <key>x</key>
                <integer>1268</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon017.png</key>
            <dict>
                <key>height</key>
                <integer>541</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-42</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>667</integer>
                <key>x</key>
                <integer>1086</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon018.png</key>
            <dict>
                <key>height</key>
                <integer>451</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>29</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>835</integer>
                <key>x</key>
                <integer>2743</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon019.png</key>
            <dict>
                <key>height</key>
                <integer>501</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>39</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>799</integer>
                <key>x</key>
                <integer>285</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon020.png</key>
            <dict>
                <key>height</key>
                <integer>579</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>30</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>833</integer>
                <key>x</key>
                <integer>1755</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon021.png</key>
            <dict>
                <key>height</key>
                <integer>651</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>849</integer>
                <key>x</key>
                <integer>2590</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon022.png</key>
            <dict>
                <key>height</key>
                <integer>661</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>853</integer>
                <key>x</key>
                <integer>1664</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon023.png</key>
            <dict>
                <key>height</key>
                <integer>657</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>829</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon024.png</key>
            <dict>
                <key>height</key>
                <integer>673</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>835</integer>
                <key>x</key>
                <integer>2519</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon025.png</key>
            <dict>
                <key>height</key>
                <integer>657</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>829</integer>
                <key>x</key>
                <integer>833</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon026.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>881</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>PYPTotalBonusWon027.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2639</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon028.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>1760</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>PYPTotalBonusWon029.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>PYPTotalBonusWon030.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>1760</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon031.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>881</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon032.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon033.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2639</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PYPTotalBonusWon0.png</string>
            <key>size</key>
            <string>{3797,3558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:130926824cdf48c6a1b9ef09a86b5e6f:9bd082820c12155f55f8188ab4599086:39787e1b062827e4c2ea34b06fdb84b3$</string>
            <key>textureFileName</key>
            <string>PYPTotalBonusWon0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>3558</integer>
            <key>width</key>
            <integer>3797</integer>
        </dict>
    </dict>
</plist>
