<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wild_4x0.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild_4x1.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild_4x2.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild_4x3.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>162</integer>
            </dict>
            <key>Wild_4x4.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>162</integer>
            </dict>
            <key>Wild_4x5.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>162</integer>
            </dict>
            <key>Wild_4x6.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>Wild_4x7.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>Wild_4x8.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>Wild_4x9.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>482</integer>
            </dict>
            <key>Wild_4x10.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>482</integer>
            </dict>
            <key>Wild_4x11.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>482</integer>
            </dict>
            <key>Wild_4x12.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
            <key>Wild_4x13.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
            <key>Wild_4x14.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Wild_4x.png</string>
            <key>size</key>
            <string>{802,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5f3348dbdeabd754eb5f87a69153b54:458da570e657812b801340d43323a464:67590f871711e933b08728d21e5491a6$</string>
            <key>textureFileName</key>
            <string>Wild_4x.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>802</integer>
            <key>width</key>
            <integer>802</integer>
        </dict>
    </dict>
</plist>
