<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wild20.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild21.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild22.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild23.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>590</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild24.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild25.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild26.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild27.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>590</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild28.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild29.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild210.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild211.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>590</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild212.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>566</integer>
            </dict>
            <key>Wild213.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>566</integer>
            </dict>
            <key>Wild214.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>566</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Wild2.png</string>
            <key>size</key>
            <string>{786,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:440f4ccfbee46771c57f8abc28805fe0:1a0f65cd4b80125fdb19e3ebd16c1fb9:82109e7028a419fc6a066a5f45246d51$</string>
            <key>textureFileName</key>
            <string>Wild2.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>786</integer>
            <key>width</key>
            <integer>786</integer>
        </dict>
    </dict>
</plist>
