<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Voodoo00.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo01.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>483</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo02.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>964</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo03.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1445</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo04.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1926</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo05.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2407</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo06.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2888</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo07.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>3369</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Voodoo08.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo09.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>483</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo010.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>964</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo011.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1445</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo012.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1926</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo013.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2407</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo014.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2888</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo015.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>3369</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>Voodoo016.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo017.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>483</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo018.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>964</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo019.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1445</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo020.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1926</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo021.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2407</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo022.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2888</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo023.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>3369</integer>
                <key>y</key>
                <integer>1170</integer>
            </dict>
            <key>Voodoo024.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo025.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>483</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo026.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>964</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo027.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1445</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo028.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1926</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo029.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2407</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo030.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2888</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo031.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>3369</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo032.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo033.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>483</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo034.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>964</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo035.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1445</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo036.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1926</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo037.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2407</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo038.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2888</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo039.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>3369</integer>
                <key>y</key>
                <integer>2338</integer>
            </dict>
            <key>Voodoo040.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2922</integer>
            </dict>
            <key>Voodoo041.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>483</integer>
                <key>y</key>
                <integer>2922</integer>
            </dict>
            <key>Voodoo042.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>964</integer>
                <key>y</key>
                <integer>2922</integer>
            </dict>
            <key>Voodoo043.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1445</integer>
                <key>y</key>
                <integer>2922</integer>
            </dict>
            <key>Voodoo044.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1926</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo045.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2407</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo046.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>2888</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Voodoo047.png</key>
            <dict>
                <key>height</key>
                <integer>582</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>582</integer>
                <key>originalWidth</key>
                <integer>479</integer>
                <key>width</key>
                <integer>479</integer>
                <key>x</key>
                <integer>1926</integer>
                <key>y</key>
                <integer>2922</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Voodoo0.png</string>
            <key>size</key>
            <string>{3850,3506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747b3b524e61461198f23d68c9d2124e:3c16f37e0b2d7686e786e6b19ee77054:0560a8bf27af1c694a54f7262a9e8be2$</string>
            <key>textureFileName</key>
            <string>Voodoo0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>3506</integer>
            <key>width</key>
            <integer>3850</integer>
        </dict>
    </dict>
</plist>
