<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wild00.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild01.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild02.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild03.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>590</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild04.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild05.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild06.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild07.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>590</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Wild08.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild09.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild10.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>394</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild11.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>590</integer>
                <key>y</key>
                <integer>378</integer>
            </dict>
            <key>Wild12.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>566</integer>
            </dict>
            <key>Wild13.PNG</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>194</integer>
                <key>width</key>
                <integer>194</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>566</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Wild.png</string>
            <key>size</key>
            <string>{786,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8042b3094e00d1ce483d0400d2ec8ef2:6a9d851b118330074aedeb1263eb150f:82109e7028a419fc6a066a5f45246d51$</string>
            <key>textureFileName</key>
            <string>Wild.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>786</integer>
            <key>width</key>
            <integer>786</integer>
        </dict>
    </dict>
</plist>
