<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ace0.png</key>
            <dict>
                <key>height</key>
                <integer>154</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>186</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Ace1.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>204</integer>
                <key>x</key>
                <integer>190</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Ace.png</string>
            <key>size</key>
            <string>{396,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87194e80a253227d3c36ca23895b2f93:166cc366d61416f5a25b907da10ee43e:9a3283bd96b15ab1108bb4a99af3aa23$</string>
            <key>textureFileName</key>
            <string>Ace.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>188</integer>
            <key>width</key>
            <integer>396</integer>
        </dict>
    </dict>
</plist>
