<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StackedWildLanding00.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>StackedWildLanding01.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>415</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>StackedWildLanding02.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>828</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>StackedWildLanding03.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>1241</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>StackedWildLanding04.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>1654</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>StackedWildLanding05.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>335</integer>
            </dict>
            <key>StackedWildLanding06.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>415</integer>
                <key>y</key>
                <integer>335</integer>
            </dict>
            <key>StackedWildLanding07.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>828</integer>
                <key>y</key>
                <integer>335</integer>
            </dict>
            <key>StackedWildLanding08.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>1241</integer>
                <key>y</key>
                <integer>335</integer>
            </dict>
            <key>StackedWildLanding09.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>1654</integer>
                <key>y</key>
                <integer>335</integer>
            </dict>
            <key>StackedWildLanding010.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>668</integer>
            </dict>
            <key>StackedWildLanding011.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>415</integer>
                <key>y</key>
                <integer>668</integer>
            </dict>
            <key>StackedWildLanding012.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>828</integer>
                <key>y</key>
                <integer>668</integer>
            </dict>
            <key>StackedWildLanding013.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>1241</integer>
                <key>y</key>
                <integer>668</integer>
            </dict>
            <key>StackedWildLanding014.png</key>
            <dict>
                <key>height</key>
                <integer>331</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>331</integer>
                <key>originalWidth</key>
                <integer>411</integer>
                <key>width</key>
                <integer>411</integer>
                <key>x</key>
                <integer>1654</integer>
                <key>y</key>
                <integer>668</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>StackedWildLanding0.png</string>
            <key>size</key>
            <string>{2067,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86a22c664ad76f5b270e5914eaa84888:555bf3d5f01c28574dc0c07152b3ce92:1509f49fbc6f8edce101edd58c17a970$</string>
            <key>textureFileName</key>
            <string>StackedWildLanding0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1001</integer>
            <key>width</key>
            <integer>2067</integer>
        </dict>
    </dict>
</plist>
