<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hurricane00.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>178</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Hurricane01.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>178</integer>
                <key>x</key>
                <integer>182</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Hurricane02.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>176</integer>
                <key>x</key>
                <integer>362</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Hurricane03.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>174</integer>
                <key>x</key>
                <integer>540</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Hurricane04.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>172</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>188</integer>
            </dict>
            <key>Hurricane05.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>170</integer>
                <key>x</key>
                <integer>176</integer>
                <key>y</key>
                <integer>188</integer>
            </dict>
            <key>Hurricane06.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>170</integer>
                <key>x</key>
                <integer>348</integer>
                <key>y</key>
                <integer>188</integer>
            </dict>
            <key>Hurricane07.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>168</integer>
                <key>x</key>
                <integer>520</integer>
                <key>y</key>
                <integer>188</integer>
            </dict>
            <key>Hurricane08.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>166</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>Hurricane09.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>168</integer>
                <key>x</key>
                <integer>170</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>Hurricane10.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>170</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>Hurricane11.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>170</integer>
                <key>x</key>
                <integer>512</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>Hurricane12.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>172</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>560</integer>
            </dict>
            <key>Hurricane13.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>174</integer>
                <key>x</key>
                <integer>176</integer>
                <key>y</key>
                <integer>560</integer>
            </dict>
            <key>Hurricane14.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>176</integer>
                <key>x</key>
                <integer>352</integer>
                <key>y</key>
                <integer>560</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Hurricane.png</string>
            <key>size</key>
            <string>{746,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851ba3b010f68d4f9eae598bd424882b:ca7da709b683199b3e956764b347b581:715723096b0e61df1b139b4e8cfee235$</string>
            <key>textureFileName</key>
            <string>Hurricane.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>746</integer>
            <key>width</key>
            <integer>746</integer>
        </dict>
    </dict>
</plist>
