<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FreeSpinPartyAnim_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>FreeSpinPartyAnim_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,233},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ace.png</string>
            <key>size</key>
            <string>{1850,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6952e50feefa5d3ea5f5c69f1737c838:c4815d3c407a67d619bea049068f8dfe:9a3283bd96b15ab1108bb4a99af3aa23$</string>
            <key>textureFileName</key>
            <string>Ace.png</string>
        </dict>
    </dict>
</plist>
