<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RoundLights00.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights01.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>133</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights02.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>264</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights03.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>395</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights04.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>526</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights05.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>657</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights06.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>788</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights07.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>919</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights08.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>1050</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights09.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>1181</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights010.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>129</integer>
                <key>width</key>
                <integer>129</integer>
                <key>x</key>
                <integer>1312</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>RoundLights0.png</string>
            <key>size</key>
            <string>{1443,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d74685dcd312be9584e027555f9626:eb3ac9550208047814501bf0610239f6:b085e5cb1252b8b946739bede7f870c3$</string>
            <key>textureFileName</key>
            <string>RoundLights0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>132</integer>
            <key>width</key>
            <integer>1443</integer>
        </dict>
    </dict>
</plist>
