<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PartyGirlFS000.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS001.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS002.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS003.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS004.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS005.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS006.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS007.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS008.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS009.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS010.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS011.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS012.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS013.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS014.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS015.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS016.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS017.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS018.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS019.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS020.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS021.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS022.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS023.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS024.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS025.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS026.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS027.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS028.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS029.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS030.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS031.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS032.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS033.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS034.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS035.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS036.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS037.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS038.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS039.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS040.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS041.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS042.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS043.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS044.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS045.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS046.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS047.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS048.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS049.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PartyGirlFS0.png</string>
            <key>size</key>
            <string>{1952,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3c65633e527fadd21686f24a130ba4:339d3db2904de358e2b10b9a64510d28:412d45f63b55acbe83101f491b884dc3$</string>
            <key>textureFileName</key>
            <string>PartyGirlFS0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1952</integer>
            <key>width</key>
            <integer>1952</integer>
        </dict>
    </dict>
</plist>
