<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PartyGirlFS200.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS201.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS202.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS203.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS204.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS205.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS206.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS207.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS208.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS209.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PartyGirlFS4.png</string>
            <key>size</key>
            <string>{977,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3c65633e527fadd21686f24a130ba4:339d3db2904de358e2b10b9a64510d28:412d45f63b55acbe83101f491b884dc3$</string>
            <key>textureFileName</key>
            <string>PartyGirlFS4.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>977</integer>
            <key>width</key>
            <integer>977</integer>
        </dict>
    </dict>
</plist>
