<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UnlockBonuses00.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses01.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>189</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses02.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>376</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses03.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>563</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses04.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>750</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses05.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>937</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses06.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1124</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses07.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1311</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses08.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1498</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses09.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1685</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>UnlockBonuses010.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses011.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>189</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses012.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>376</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses013.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>563</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses014.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>750</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses015.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>937</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses016.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1124</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses017.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1311</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses018.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1498</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses019.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1685</integer>
                <key>y</key>
                <integer>85</integer>
            </dict>
            <key>UnlockBonuses020.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses021.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>189</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses022.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>376</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses023.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>563</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses024.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>750</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses025.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>937</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses026.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1124</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses027.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1311</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses028.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1498</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
            <key>UnlockBonuses029.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>185</integer>
                <key>width</key>
                <integer>185</integer>
                <key>x</key>
                <integer>1685</integer>
                <key>y</key>
                <integer>168</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>UnlockBonuses0.png</string>
            <key>size</key>
            <string>{1872,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eacf08f8926f5a3aaef26b2c44e93de:98513d9179613066e9fb3c87ff0190a4:a2a455d4ad599309a623d009909742c2$</string>
            <key>textureFileName</key>
            <string>UnlockBonuses0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>251</integer>
            <key>width</key>
            <integer>1872</integer>
        </dict>
    </dict>
</plist>
