<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PYPTotalBonusWon_0.png</key>
            <dict>
                <key>height</key>
                <integer>137</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>257</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_1.png</key>
            <dict>
                <key>height</key>
                <integer>279</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>17</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>1564</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_2.png</key>
            <dict>
                <key>height</key>
                <integer>259</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>758</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_3.png</key>
            <dict>
                <key>height</key>
                <integer>317</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>383</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_4.png</key>
            <dict>
                <key>height</key>
                <integer>341</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>30</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>686</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_5.png</key>
            <dict>
                <key>height</key>
                <integer>311</integer>
                <key>offsetX</key>
                <real>10</real>
                <key>offsetY</key>
                <real>29</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>379</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_6.png</key>
            <dict>
                <key>height</key>
                <integer>409</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>20</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>253</integer>
                <key>x</key>
                <integer>1013</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_7.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>19</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>429</integer>
                <key>x</key>
                <integer>2304</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_8.png</key>
            <dict>
                <key>height</key>
                <integer>417</integer>
                <key>offsetX</key>
                <real>-14</real>
                <key>offsetY</key>
                <real>12</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>415</integer>
                <key>x</key>
                <integer>1867</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_9.png</key>
            <dict>
                <key>height</key>
                <integer>467</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>31</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>281</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon_10.png</key>
            <dict>
                <key>height</key>
                <integer>431</integer>
                <key>offsetX</key>
                <real>-15</real>
                <key>offsetY</key>
                <real>43</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>457</integer>
                <key>x</key>
                <integer>2284</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_11.png</key>
            <dict>
                <key>height</key>
                <integer>311</integer>
                <key>offsetX</key>
                <real>-6</real>
                <key>offsetY</key>
                <real>35</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>491</integer>
                <key>x</key>
                <integer>3304</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_12.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>31</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>495</integer>
                <key>x</key>
                <integer>261</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_13.png</key>
            <dict>
                <key>height</key>
                <integer>273</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>33</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>501</integer>
                <key>x</key>
                <integer>1061</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_14.png</key>
            <dict>
                <key>height</key>
                <integer>291</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>37</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>525</integer>
                <key>x</key>
                <integer>1777</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_15.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>39</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>567</integer>
                <key>x</key>
                <integer>2735</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PYPTotalBonusWon_16.png</key>
            <dict>
                <key>height</key>
                <integer>409</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>597</integer>
                <key>x</key>
                <integer>1268</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_17.png</key>
            <dict>
                <key>height</key>
                <integer>541</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-42</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>667</integer>
                <key>x</key>
                <integer>1086</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon_18.png</key>
            <dict>
                <key>height</key>
                <integer>451</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>29</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>835</integer>
                <key>x</key>
                <integer>2743</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>PYPTotalBonusWon_19.png</key>
            <dict>
                <key>height</key>
                <integer>501</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>39</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>799</integer>
                <key>x</key>
                <integer>285</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon_20.png</key>
            <dict>
                <key>height</key>
                <integer>579</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>30</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>833</integer>
                <key>x</key>
                <integer>1755</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon_21.png</key>
            <dict>
                <key>height</key>
                <integer>651</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>849</integer>
                <key>x</key>
                <integer>2590</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>PYPTotalBonusWon_22.png</key>
            <dict>
                <key>height</key>
                <integer>661</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>853</integer>
                <key>x</key>
                <integer>1664</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon_23.png</key>
            <dict>
                <key>height</key>
                <integer>657</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>829</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon_24.png</key>
            <dict>
                <key>height</key>
                <integer>673</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>835</integer>
                <key>x</key>
                <integer>2519</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon_25.png</key>
            <dict>
                <key>height</key>
                <integer>657</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>829</integer>
                <key>x</key>
                <integer>833</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>PYPTotalBonusWon_26.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>881</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>PYPTotalBonusWon_27.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2639</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon_28.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>1760</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>PYPTotalBonusWon_29.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>PYPTotalBonusWon_30.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>1760</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon_31.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>881</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon_32.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>PYPTotalBonusWon_33.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2639</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PYPTotalBonusWon.png</string>
            <key>size</key>
            <string>{3797,3558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:130926824cdf48c6a1b9ef09a86b5e6f:9bd082820c12155f55f8188ab4599086:39787e1b062827e4c2ea34b06fdb84b3$</string>
            <key>textureFileName</key>
            <string>PYPTotalBonusWon.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>3558</integer>
            <key>width</key>
            <integer>3797</integer>
        </dict>
    </dict>
</plist>
