<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ten0.png</key>
            <dict>
                <key>height</key>
                <integer>144</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>182</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Ten1.png</key>
            <dict>
                <key>height</key>
                <integer>172</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>186</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Ten.png</string>
            <key>size</key>
            <string>{388,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca4fdccd3da91209127c5b29ce56419c:48ce60507e457d2a8f2f639829990493:0c82e85ff0d56a9bb1e37b64c679554d$</string>
            <key>textureFileName</key>
            <string>Ten.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>176</integer>
            <key>width</key>
            <integer>388</integer>
        </dict>
    </dict>
</plist>
