<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anticipation00.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation01.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation02.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>674</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation03.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1010</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation04.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1346</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation05.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1682</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation06.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2018</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation07.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2354</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation08.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2690</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation09.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>3026</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>anticipation010.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation011.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation012.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>674</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation013.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1010</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation014.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1346</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation015.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1682</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation016.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2018</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation017.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2354</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation018.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2690</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation019.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>3026</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>anticipation020.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation021.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation022.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>674</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation023.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1010</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation024.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1346</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation025.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1682</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation026.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2018</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation027.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2354</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation028.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2690</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
            <key>anticipation029.png</key>
            <dict>
                <key>height</key>
                <integer>1288</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>1288</integer>
                <key>originalWidth</key>
                <integer>334</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>3026</integer>
                <key>y</key>
                <integer>2582</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>anticipation0.png</string>
            <key>size</key>
            <string>{3362,3872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fad772a7c15d0c381345678d9fb45b6:5cf115bcbbb99d4d0fc7a418c2a30431:c5e4b479f7c5da76e094936762d32f9f$</string>
            <key>textureFileName</key>
            <string>anticipation0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>3872</integer>
            <key>width</key>
            <integer>3362</integer>
        </dict>
    </dict>
</plist>
