<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PartyGirlFS050.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS051.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS052.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS053.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS054.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS055.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS056.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS057.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS058.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS059.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS060.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS061.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS062.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS063.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS064.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS065.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS066.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS067.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS068.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS069.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS070.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS071.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS072.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS073.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS074.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS075.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS076.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS077.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS078.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS079.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS080.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS081.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS082.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS083.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS084.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS085.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS086.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS087.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS088.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS089.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS090.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS091.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS092.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS093.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS094.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS095.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS096.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS097.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS098.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS099.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PartyGirlFS1.png</string>
            <key>size</key>
            <string>{1952,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3c65633e527fadd21686f24a130ba4:339d3db2904de358e2b10b9a64510d28:412d45f63b55acbe83101f491b884dc3$</string>
            <key>textureFileName</key>
            <string>PartyGirlFS1.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1952</integer>
            <key>width</key>
            <integer>1952</integer>
        </dict>
    </dict>
</plist>
