<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wild_2x0.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild_2x1.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild_2x2.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wild_2x3.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>162</integer>
            </dict>
            <key>Wild_2x4.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>162</integer>
            </dict>
            <key>Wild_2x5.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>162</integer>
            </dict>
            <key>Wild_2x6.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>Wild_2x7.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>Wild_2x8.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>Wild_2x9.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>482</integer>
            </dict>
            <key>Wild_2x10.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>482</integer>
            </dict>
            <key>Wild_2x11.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>482</integer>
            </dict>
            <key>Wild_2x12.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
            <key>Wild_2x13.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
            <key>Wild_2x14.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Wild_2x.png</string>
            <key>size</key>
            <string>{802,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc748c36d6010b8f927a2c471282c9ad:96d1ab2b5461a20d5d038ba8476b1051:c6310618b1cdbefd78d53d8d9d1a756a$</string>
            <key>textureFileName</key>
            <string>Wild_2x.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>802</integer>
            <key>width</key>
            <integer>802</integer>
        </dict>
    </dict>
</plist>
