<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KingCake00.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>208</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>354</integer>
            </dict>
            <key>KingCake01.png</key>
            <dict>
                <key>height</key>
                <integer>172</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>208</integer>
                <key>x</key>
                <integer>212</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>KingCake02.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>212</integer>
                <key>y</key>
                <integer>354</integer>
            </dict>
            <key>KingCake03.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>208</integer>
                <key>x</key>
                <integer>634</integer>
                <key>y</key>
                <integer>354</integer>
            </dict>
            <key>KingCake04.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>530</integer>
            </dict>
            <key>KingCake05.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>530</integer>
            </dict>
            <key>KingCake06.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>530</integer>
            </dict>
            <key>KingCake07.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>636</integer>
                <key>y</key>
                <integer>178</integer>
            </dict>
            <key>KingCake08.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>178</integer>
            </dict>
            <key>KingCake09.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>KingCake10.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>634</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>KingCake11.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>208</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>178</integer>
            </dict>
            <key>KingCake12.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>212</integer>
                <key>y</key>
                <integer>178</integer>
            </dict>
            <key>KingCake13.png</key>
            <dict>
                <key>height</key>
                <integer>172</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>208</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>KingCake14.png</key>
            <dict>
                <key>height</key>
                <integer>174</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>208</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>354</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>KingCake.png</string>
            <key>size</key>
            <string>{848,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77aac418cbba7f8e0c0e704a8fb948c1:bb9aed7bf2af0347000cf9a470554de8:12dd3870edc181a70a02c6a0541a35de$</string>
            <key>textureFileName</key>
            <string>KingCake.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>848</integer>
            <key>width</key>
            <integer>848</integer>
        </dict>
    </dict>
</plist>
