<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TouchToSpin00.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TouchToSpin01.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TouchToSpin02.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TouchToSpin03.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>145</integer>
            </dict>
            <key>TouchToSpin04.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>145</integer>
            </dict>
            <key>TouchToSpin05.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>145</integer>
            </dict>
            <key>TouchToSpin06.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>288</integer>
            </dict>
            <key>TouchToSpin07.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>288</integer>
            </dict>
            <key>TouchToSpin08.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>288</integer>
            </dict>
            <key>TouchToSpin09.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>431</integer>
            </dict>
            <key>TouchToSpin10.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>431</integer>
            </dict>
            <key>TouchToSpin11.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>431</integer>
            </dict>
            <key>TouchToSpin12.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>574</integer>
            </dict>
            <key>TouchToSpin13.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>574</integer>
            </dict>
            <key>TouchToSpin14.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>574</integer>
            </dict>
            <key>TouchToSpin15.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>TouchToSpin16.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>TouchToSpin17.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>717</integer>
            </dict>
            <key>TouchToSpin18.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>860</integer>
            </dict>
            <key>TouchToSpin19.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>860</integer>
            </dict>
            <key>TouchToSpin20.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>860</integer>
            </dict>
            <key>TouchToSpin21.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1003</integer>
            </dict>
            <key>TouchToSpin22.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>1003</integer>
            </dict>
            <key>TouchToSpin23.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>1003</integer>
            </dict>
            <key>TouchToSpin24.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1146</integer>
            </dict>
            <key>TouchToSpin25.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>1146</integer>
            </dict>
            <key>TouchToSpin26.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>1146</integer>
            </dict>
            <key>TouchToSpin27.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1289</integer>
            </dict>
            <key>TouchToSpin28.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>887</integer>
                <key>y</key>
                <integer>1289</integer>
            </dict>
            <key>TouchToSpin29.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1772</integer>
                <key>y</key>
                <integer>1289</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>TouchToSpin0.png</string>
            <key>size</key>
            <string>{2657,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cff8288a7b83fe105c79aedf7d158dcc:f6bd6b192c95f998a0727ec40cee3058:dfd55cb8c500f4fc67fb2f20dd01c70e$</string>
            <key>textureFileName</key>
            <string>TouchToSpin0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1432</integer>
            <key>width</key>
            <integer>2657</integer>
        </dict>
    </dict>
</plist>
