<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TouchToSpin00.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>881</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1</integer>
            </dict>
            <key>TouchToSpin01.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>881</integer>
                <key>x</key>
                <integer>884</integer>
                <key>y</key>
                <integer>1</integer>
            </dict>
            <key>TouchToSpin02.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>881</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>144</integer>
            </dict>
            <key>TouchToSpin03.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>884</integer>
                <key>y</key>
                <integer>144</integer>
            </dict>
            <key>TouchToSpin04.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>287</integer>
            </dict>
            <key>TouchToSpin05.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>287</integer>
            </dict>
            <key>TouchToSpin06.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>430</integer>
            </dict>
            <key>TouchToSpin07.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>430</integer>
            </dict>
            <key>TouchToSpin08.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>573</integer>
            </dict>
            <key>TouchToSpin09.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>573</integer>
            </dict>
            <key>TouchToSpin010.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>716</integer>
            </dict>
            <key>TouchToSpin011.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>716</integer>
            </dict>
            <key>TouchToSpin012.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>859</integer>
            </dict>
            <key>TouchToSpin013.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>859</integer>
            </dict>
            <key>TouchToSpin014.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1002</integer>
            </dict>
            <key>TouchToSpin015.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>1002</integer>
            </dict>
            <key>TouchToSpin016.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1145</integer>
            </dict>
            <key>TouchToSpin017.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>1145</integer>
            </dict>
            <key>TouchToSpin018.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1288</integer>
            </dict>
            <key>TouchToSpin019.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>1288</integer>
            </dict>
            <key>TouchToSpin020.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1431</integer>
            </dict>
            <key>TouchToSpin021.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>1431</integer>
            </dict>
            <key>TouchToSpin022.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1574</integer>
            </dict>
            <key>TouchToSpin023.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>1574</integer>
            </dict>
            <key>TouchToSpin024.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1717</integer>
            </dict>
            <key>TouchToSpin025.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>1717</integer>
            </dict>
            <key>TouchToSpin026.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>1860</integer>
            </dict>
            <key>TouchToSpin027.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>883</integer>
                <key>x</key>
                <integer>886</integer>
                <key>y</key>
                <integer>1860</integer>
            </dict>
            <key>TouchToSpin028.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>881</integer>
                <key>x</key>
                <integer>1771</integer>
                <key>y</key>
                <integer>1</integer>
            </dict>
            <key>TouchToSpin029.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>141</integer>
                <key>originalWidth</key>
                <integer>883</integer>
                <key>width</key>
                <integer>881</integer>
                <key>x</key>
                <integer>1771</integer>
                <key>y</key>
                <integer>884</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>TouchToSpin0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b1c37e4b878e4d5027451f0ca1c8dd7:f6bd6b192c95f998a0727ec40cee3058:dfd55cb8c500f4fc67fb2f20dd01c70e$</string>
            <key>textureFileName</key>
            <string>TouchToSpin0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
