<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2x0.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>190</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>172</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>2x1.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>190</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>172</integer>
                <key>x</key>
                <integer>176</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>2x2.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>190</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>172</integer>
                <key>x</key>
                <integer>350</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>2x.png</string>
            <key>size</key>
            <string>{524,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff5fc8dbeb02d86536b8aa419d1fe8de:f655c95930578f31d63874541e79fe81:bfbed95bae2a600cd13cd18cd3bd553f$</string>
            <key>textureFileName</key>
            <string>2x.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>194</integer>
            <key>width</key>
            <integer>524</integer>
        </dict>
    </dict>
</plist>
