<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PartyGirlFS100.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS101.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS102.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS103.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS104.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS105.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS106.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS107.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS108.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS109.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlFS110.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS111.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS112.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS113.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS114.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS115.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS116.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS117.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS118.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS119.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>374</integer>
            </dict>
            <key>PartyGirlFS120.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS121.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS122.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS123.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS124.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS125.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS126.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS127.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS128.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS129.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>PartyGirlFS130.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS131.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS132.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS133.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS134.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS135.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS136.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS137.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS138.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS139.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>1118</integer>
            </dict>
            <key>PartyGirlFS140.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS141.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>197</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS142.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS143.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>587</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS144.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS145.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>977</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS146.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS147.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1367</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS148.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1562</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>PartyGirlFS149.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>370</integer>
                <key>originalWidth</key>
                <integer>193</integer>
                <key>width</key>
                <integer>193</integer>
                <key>x</key>
                <integer>1757</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PartyGirlFS2.png</string>
            <key>size</key>
            <string>{1952,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3c65633e527fadd21686f24a130ba4:339d3db2904de358e2b10b9a64510d28:412d45f63b55acbe83101f491b884dc3$</string>
            <key>textureFileName</key>
            <string>PartyGirlFS2.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1952</integer>
            <key>width</key>
            <integer>1952</integer>
        </dict>
    </dict>
</plist>
