<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RoundLights00.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights01.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>132</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights02.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>262</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights03.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>392</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights04.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>522</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights05.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights06.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights07.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>912</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights08.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>1042</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights09.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>1172</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>RoundLights010.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>1302</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>RoundLights0.png</string>
            <key>size</key>
            <string>{1432,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38aa0b91990278b561f4b04b1a212474:b00838b0df0e2e9b33e521c9638b0528:86bb1239bef4a5a52694dca552b228ad$</string>
            <key>textureFileName</key>
            <string>RoundLights0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>132</integer>
            <key>width</key>
            <integer>1432</integer>
        </dict>
    </dict>
</plist>
