<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PartyGirl00.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl01.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>199</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl02.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl03.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>593</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl04.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>790</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl05.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>987</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl06.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>1184</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl07.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>1381</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirl08.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl09.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>199</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl10.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl11.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>593</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl12.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>790</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl13.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>987</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl14.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>1184</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl15.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>1381</integer>
                <key>y</key>
                <integer>372</integer>
            </dict>
            <key>PartyGirl16.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl17.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>199</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl18.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl19.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>593</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl20.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>790</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl21.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>987</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl22.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>1184</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl23.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>1381</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>PartyGirl24.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1112</integer>
            </dict>
            <key>PartyGirl25.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>199</integer>
                <key>y</key>
                <integer>1112</integer>
            </dict>
            <key>PartyGirl26.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>1112</integer>
            </dict>
            <key>PartyGirl27.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>593</integer>
                <key>y</key>
                <integer>1112</integer>
            </dict>
            <key>PartyGirl28.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>790</integer>
                <key>y</key>
                <integer>1112</integer>
            </dict>
            <key>PartyGirl29.png</key>
            <dict>
                <key>height</key>
                <integer>368</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>368</integer>
                <key>originalWidth</key>
                <integer>195</integer>
                <key>width</key>
                <integer>195</integer>
                <key>x</key>
                <integer>987</integer>
                <key>y</key>
                <integer>1112</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PartyGirl.png</string>
            <key>size</key>
            <string>{1578,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eafdb2d48f4cdf2a42fcc179cb5ba6ef:133a458b80007a0ca6b1426ace518d61:af3499745339e1dcc15430b7f31c5a28$</string>
            <key>textureFileName</key>
            <string>PartyGirl.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1578</integer>
            <key>width</key>
            <integer>1578</integer>
        </dict>
    </dict>
</plist>
