<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wheel0.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wheel1.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>233</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wheel2.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>464</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wheel3.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>695</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Wheel4.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>Wheel5.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>233</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>Wheel6.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>464</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>Wheel7.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>695</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>Wheel8.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>466</integer>
            </dict>
            <key>Wheel9.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>233</integer>
                <key>y</key>
                <integer>466</integer>
            </dict>
            <key>Wheel10.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>464</integer>
                <key>y</key>
                <integer>466</integer>
            </dict>
            <key>Wheel11.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>695</integer>
                <key>y</key>
                <integer>466</integer>
            </dict>
            <key>Wheel12.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>698</integer>
            </dict>
            <key>Wheel13.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>233</integer>
                <key>y</key>
                <integer>698</integer>
            </dict>
            <key>Wheel14.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>230</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>464</integer>
                <key>y</key>
                <integer>698</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Wheel.png</string>
            <key>size</key>
            <string>{930,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7abfcb9d87b84dacae102c3ba1954e:f6c137a95c6548755c616f13da365b87:e611e5363b149f1a46b2ccc91ed84156$</string>
            <key>textureFileName</key>
            <string>Wheel.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>930</integer>
            <key>width</key>
            <integer>930</integer>
        </dict>
    </dict>
</plist>
