<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PartyGirlWild00.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>279</integer>
                <key>x</key>
                <integer>550</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlWild01.png</key>
            <dict>
                <key>height</key>
                <integer>188</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>271</integer>
                <key>x</key>
                <integer>269</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>PartyGirlWild02.png</key>
            <dict>
                <key>height</key>
                <integer>192</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>384</integer>
            </dict>
            <key>PartyGirlWild03.png</key>
            <dict>
                <key>height</key>
                <integer>192</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>273</integer>
                <key>y</key>
                <integer>384</integer>
            </dict>
            <key>PartyGirlWild04.png</key>
            <dict>
                <key>height</key>
                <integer>194</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>269</integer>
                <key>y</key>
                <integer>580</integer>
            </dict>
            <key>PartyGirlWild05.png</key>
            <dict>
                <key>height</key>
                <integer>196</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>271</integer>
                <key>x</key>
                <integer>540</integer>
                <key>y</key>
                <integer>580</integer>
            </dict>
            <key>PartyGirlWild06.png</key>
            <dict>
                <key>height</key>
                <integer>196</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>542</integer>
                <key>y</key>
                <integer>778</integer>
            </dict>
            <key>PartyGirlWild07.png</key>
            <dict>
                <key>height</key>
                <integer>196</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>271</integer>
                <key>y</key>
                <integer>778</integer>
            </dict>
            <key>PartyGirlWild08.png</key>
            <dict>
                <key>height</key>
                <integer>196</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>267</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>778</integer>
            </dict>
            <key>PartyGirlWild09.png</key>
            <dict>
                <key>height</key>
                <integer>194</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>265</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>580</integer>
            </dict>
            <key>PartyGirlWild10.png</key>
            <dict>
                <key>height</key>
                <integer>194</integer>
                <key>offsetX</key>
                <real>-8</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>263</integer>
                <key>x</key>
                <integer>544</integer>
                <key>y</key>
                <integer>384</integer>
            </dict>
            <key>PartyGirlWild11.png</key>
            <dict>
                <key>height</key>
                <integer>192</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>265</integer>
                <key>x</key>
                <integer>542</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>PartyGirlWild12.png</key>
            <dict>
                <key>height</key>
                <integer>188</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>265</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>PartyGirlWild13.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>265</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>PartyGirlWild14.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>196</integer>
                <key>originalWidth</key>
                <integer>279</integer>
                <key>width</key>
                <integer>279</integer>
                <key>x</key>
                <integer>269</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PartyGirlWild.png</string>
            <key>size</key>
            <string>{976,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eea726b14eda37a672cbe4e1b0205fa:daadd1558b864238ca883aa980f8459c:8ee5d3067730e9cebbe107c0b0dcc514$</string>
            <key>textureFileName</key>
            <string>PartyGirlWild.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>976</integer>
            <key>width</key>
            <integer>976</integer>
        </dict>
    </dict>
</plist>
