<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jack0.png</key>
            <dict>
                <key>height</key>
                <integer>156</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Jack1.png</key>
            <dict>
                <key>height</key>
                <integer>184</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>184</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>134</integer>
                <key>x</key>
                <integer>108</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Jack.png</string>
            <key>size</key>
            <string>{244,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffa98bd73e865cd95f9eb96d2f8cda37:4b7a30f13d14069cd80a32b6aff485b3:ab24298f6d0aa640d0146387304c3b01$</string>
            <key>textureFileName</key>
            <string>Jack.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>188</integer>
            <key>width</key>
            <integer>244</integer>
        </dict>
    </dict>
</plist>
