<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TotalBonusWon00.png</key>
            <dict>
                <key>height</key>
                <integer>137</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>257</integer>
                <key>width</key>
                <integer>257</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon01.png</key>
            <dict>
                <key>height</key>
                <integer>279</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>279</integer>
                <key>originalWidth</key>
                <integer>211</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>1564</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon02.png</key>
            <dict>
                <key>height</key>
                <integer>259</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>259</integer>
                <key>originalWidth</key>
                <integer>301</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>758</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon03.png</key>
            <dict>
                <key>height</key>
                <integer>317</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>317</integer>
                <key>originalWidth</key>
                <integer>301</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>383</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon04.png</key>
            <dict>
                <key>height</key>
                <integer>341</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>341</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>686</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon05.png</key>
            <dict>
                <key>height</key>
                <integer>311</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>311</integer>
                <key>originalWidth</key>
                <integer>379</integer>
                <key>width</key>
                <integer>379</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon06.png</key>
            <dict>
                <key>height</key>
                <integer>409</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>409</integer>
                <key>originalWidth</key>
                <integer>253</integer>
                <key>width</key>
                <integer>253</integer>
                <key>x</key>
                <integer>1013</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon07.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>295</integer>
                <key>originalWidth</key>
                <integer>429</integer>
                <key>width</key>
                <integer>429</integer>
                <key>x</key>
                <integer>2304</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon08.png</key>
            <dict>
                <key>height</key>
                <integer>417</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>417</integer>
                <key>originalWidth</key>
                <integer>415</integer>
                <key>width</key>
                <integer>415</integer>
                <key>x</key>
                <integer>1867</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon09.png</key>
            <dict>
                <key>height</key>
                <integer>467</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>467</integer>
                <key>originalWidth</key>
                <integer>281</integer>
                <key>width</key>
                <integer>281</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>TotalBonusWon010.png</key>
            <dict>
                <key>height</key>
                <integer>431</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>431</integer>
                <key>originalWidth</key>
                <integer>457</integer>
                <key>width</key>
                <integer>457</integer>
                <key>x</key>
                <integer>2284</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon011.png</key>
            <dict>
                <key>height</key>
                <integer>311</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>311</integer>
                <key>originalWidth</key>
                <integer>491</integer>
                <key>width</key>
                <integer>491</integer>
                <key>x</key>
                <integer>3304</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon012.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>239</integer>
                <key>originalWidth</key>
                <integer>495</integer>
                <key>width</key>
                <integer>495</integer>
                <key>x</key>
                <integer>261</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon013.png</key>
            <dict>
                <key>height</key>
                <integer>273</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>273</integer>
                <key>originalWidth</key>
                <integer>501</integer>
                <key>width</key>
                <integer>501</integer>
                <key>x</key>
                <integer>1061</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon014.png</key>
            <dict>
                <key>height</key>
                <integer>291</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>291</integer>
                <key>originalWidth</key>
                <integer>525</integer>
                <key>width</key>
                <integer>525</integer>
                <key>x</key>
                <integer>1777</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon015.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>295</integer>
                <key>originalWidth</key>
                <integer>567</integer>
                <key>width</key>
                <integer>567</integer>
                <key>x</key>
                <integer>2735</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>TotalBonusWon016.png</key>
            <dict>
                <key>height</key>
                <integer>409</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>409</integer>
                <key>originalWidth</key>
                <integer>597</integer>
                <key>width</key>
                <integer>597</integer>
                <key>x</key>
                <integer>1268</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon017.png</key>
            <dict>
                <key>height</key>
                <integer>541</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>541</integer>
                <key>originalWidth</key>
                <integer>667</integer>
                <key>width</key>
                <integer>667</integer>
                <key>x</key>
                <integer>1086</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>TotalBonusWon018.png</key>
            <dict>
                <key>height</key>
                <integer>451</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>451</integer>
                <key>originalWidth</key>
                <integer>835</integer>
                <key>width</key>
                <integer>835</integer>
                <key>x</key>
                <integer>2743</integer>
                <key>y</key>
                <integer>315</integer>
            </dict>
            <key>TotalBonusWon019.png</key>
            <dict>
                <key>height</key>
                <integer>501</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>501</integer>
                <key>originalWidth</key>
                <integer>799</integer>
                <key>width</key>
                <integer>799</integer>
                <key>x</key>
                <integer>285</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>TotalBonusWon020.png</key>
            <dict>
                <key>height</key>
                <integer>579</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>579</integer>
                <key>originalWidth</key>
                <integer>833</integer>
                <key>width</key>
                <integer>833</integer>
                <key>x</key>
                <integer>1755</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>TotalBonusWon021.png</key>
            <dict>
                <key>height</key>
                <integer>651</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>651</integer>
                <key>originalWidth</key>
                <integer>849</integer>
                <key>width</key>
                <integer>849</integer>
                <key>x</key>
                <integer>2590</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>TotalBonusWon022.png</key>
            <dict>
                <key>height</key>
                <integer>661</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>661</integer>
                <key>originalWidth</key>
                <integer>853</integer>
                <key>width</key>
                <integer>853</integer>
                <key>x</key>
                <integer>1664</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>TotalBonusWon023.png</key>
            <dict>
                <key>height</key>
                <integer>657</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>657</integer>
                <key>originalWidth</key>
                <integer>829</integer>
                <key>width</key>
                <integer>829</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>TotalBonusWon024.png</key>
            <dict>
                <key>height</key>
                <integer>673</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>673</integer>
                <key>originalWidth</key>
                <integer>835</integer>
                <key>width</key>
                <integer>835</integer>
                <key>x</key>
                <integer>2519</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>TotalBonusWon025.png</key>
            <dict>
                <key>height</key>
                <integer>657</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>657</integer>
                <key>originalWidth</key>
                <integer>829</integer>
                <key>width</key>
                <integer>829</integer>
                <key>x</key>
                <integer>833</integer>
                <key>y</key>
                <integer>1421</integer>
            </dict>
            <key>TotalBonusWon026.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>881</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>TotalBonusWon027.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2639</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>TotalBonusWon028.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>1760</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>TotalBonusWon029.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
            <key>TotalBonusWon030.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>1760</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>TotalBonusWon031.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>881</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>TotalBonusWon032.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2096</integer>
            </dict>
            <key>TotalBonusWon033.png</key>
            <dict>
                <key>height</key>
                <integer>703</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>703</integer>
                <key>originalWidth</key>
                <integer>877</integer>
                <key>width</key>
                <integer>877</integer>
                <key>x</key>
                <integer>2639</integer>
                <key>y</key>
                <integer>2801</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>TotalBonusWon0.png</string>
            <key>size</key>
            <string>{3797,3558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e339b302a2805a27d299745b2de1144:9c1be2783122ac997c6a7fa46256f733:6c6ec550ed3ac642630c6d8dc3fb4fee$</string>
            <key>textureFileName</key>
            <string>TotalBonusWon0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>3558</integer>
            <key>width</key>
            <integer>3797</integer>
        </dict>
    </dict>
</plist>
