<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Curtains00.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Curtains01.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>192</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Curtains02.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>382</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Curtains03.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>572</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Curtains04.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>762</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Curtains05.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>567</integer>
            </dict>
            <key>Curtains06.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>192</integer>
                <key>y</key>
                <integer>567</integer>
            </dict>
            <key>Curtains07.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>382</integer>
                <key>y</key>
                <integer>567</integer>
            </dict>
            <key>Curtains08.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>572</integer>
                <key>y</key>
                <integer>567</integer>
            </dict>
            <key>Curtains09.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>762</integer>
                <key>y</key>
                <integer>567</integer>
            </dict>
            <key>Curtains010.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1132</integer>
            </dict>
            <key>Curtains011.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>192</integer>
                <key>y</key>
                <integer>1132</integer>
            </dict>
            <key>Curtains012.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>382</integer>
                <key>y</key>
                <integer>1132</integer>
            </dict>
            <key>Curtains013.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>572</integer>
                <key>y</key>
                <integer>1132</integer>
            </dict>
            <key>Curtains014.png</key>
            <dict>
                <key>height</key>
                <integer>563</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>563</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>762</integer>
                <key>y</key>
                <integer>1132</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Curtains0.png</string>
            <key>size</key>
            <string>{952,1697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ab9c29b79e074f9eacc7bed3d3aa2c:a0d3f17e131f3f1dc16fc37a0f48e8f3:ab47657c7461f674fca86e84121fbc97$</string>
            <key>textureFileName</key>
            <string>Curtains0.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1697</integer>
            <key>width</key>
            <integer>952</integer>
        </dict>
    </dict>
</plist>
